RoomApps/.settings/*
RoomApps/.project
RoomApps/.classpath
RoomApps/RoomWorker/.settings/
RoomApps/RoomService/.settings/
RoomApps/RoomWorker/.classpath
RoomApps/RoomWorker/.project
*.pid
RoomApps/RoomStatus/.classpath
RoomApps/RoomStatus/.project
RoomApps/RoomStatus/.settings/
RoomApps/RoomStatus/target/
.classpath
.project
.settings/
bin/
.settings
target
*.eclipse.jdt.core.prefs
