flyway.url=jdbc:postgresql://localhost:5432/mydb
flyway.user=postgres
flyway.password=password
flyway.schemas=statusdata

flyway.locations=filesystem:src/migration/

flyway.baselineOnMigrate=true
flyway.baselineVersion=1.0

